body{
    background-color: rgba(0, 0, 0, 0.31);
}


element.style {
}
.navbar-inverse .navbar-nav>li>a {
    color: #ffce14;
    border: 2px solid #ffce14;
    border-radius: 10px;
    margin-right: 5px;
    line-height:inherit;
}
.nav > li.active > a {
    border-radius: 9px;
}


.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
a {
    color: #ffce14;
    text-decoration: none;
}

element.style {
    background-color: #0f2453;
}


.container {
    float: right;
    padding-top: 10px;
    display: inline-block;
    width: calc(100% - 200px - 250px - 15px);
    width: calc(100% / 3 - 10px);
    /*  width: 900px;
      height: 600px;
      /*position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;*/
    top: 20px;
}
.div-img {
    display: inline-block;
    /* margin-left: auto;
     margin-right: auto;*/
}
.div-img.hidden {
    /* overflow: hidden;*/
}
.div-img .img {
    display: inline-block;
    /* margin-left: auto;
     margin-right: auto;*/

    width: 100%;
    transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
}
.div-img:hover .img {
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
}

header h1 {
    margin: 0;
    color: #ffce14;
    line-height: 70px;
    text-align: center;
    background-color: #0f2453;
    font-family: 'Frijole', cursive;
}


 /* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 2px;
    border-radius: 2px;
    border: teal;
    font-family: 'Frijole', cursive;
    font-size: 20px;
    background-color: #00ae26;
    text-align: center;


}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 660px}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 2px;
    padding-bottom: 14px;
    background-color: rgba(0, 0, 0, 0.31);
    height: 100%;
    font-size: 20px;
    padding-bottom: 10px;

}

.nav-tabs a, .nav-pills a, .breadcrumb a, .pager a {
    background-color: rgba(7, 130, 111, 0.94);
        font-size: 20px;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #00ae26;
    /*color: white;*/
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;}
}
-------------
-----------